html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #CFB991;
	font-family: Arial;
}

#map {
	position: absolute;
	top: 66px;
	bottom: 0;
	width: 100%;
}

#top {
	width: 100%;
	height: 64px;
	border-top: 2px solid #CFB991;
	background-color: #000;
	color: white;
	display: flex;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 20px;
	position: fixed;
	align-items: center;
	flex-flow: row nowrap;
	flex: 1 1 auto;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: -5px 2.5px 2.5px #00000077;
}

.custom-marker {
	width: 11px;
	height: 11px;
	background-color: white;
	border: 7px solid #757575;
	border-radius: 50%;
	box-shadow: 0 0 8px #000000BB;
}

.purdue-logo {
	background: url(https://www.purdue.edu/purdue/images/PU-H.svg) no-repeat;
	background-size: contain;
	display: block;
	height: 35%;
	width: 100%;
	max-width: 125px;
	margin: auto 15px auto 15px;
	overflow: hidden;
	text-indent: -9999px;
}

.menuBtn {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.btnBar {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 18px;
	height: 2px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	transition: background 0s 0.1s;
	
	&::before, &::after {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		content: "";
		transition-delay: 0.1s, 0s;
		transition-duration: 0.1s, 0.1s;
	}
	&::before {
		top: -5px;
		transition-property: top, transform;
	}
	&::after {
		bottom: -5px;
		transition-property: bottom, transform;
	}
}

.menuBtnT {
	.btnBar {
		background: none;
		&::before, &::after {
			transition-delay: 0s, 0.1s;
		}
		&::before {
			top: 0;
			transform: rotate(45deg);
		}
		&::after {
			bottom: 0;
			transform: rotate(-45deg);
		}
	}
}

.topMenu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 66px;
	left: 0;
	background-color: #555960;
	overflow-x: hidden;
	padding-top: 8px;
	transition: 0.25s;
	color: white;
	white-space: nowrap;
	box-shadow: 2.5px 0 2.5px #00000077;
}

.topMenuFooter {
	width: 100%;
	position: absolute;
	bottom: 74px;
	background-color: black;
	border-top: 2px solid #CFB991;
	text-align: center;
	color: #EEE;
}

.topMenu a, .topMenu button {
	background-color: inherit;
	border: 0;
	border-radius: 0;
	width: 100%;
	text-align: left;
	
	padding: 0.95em 10px 0.95em 30px;
	text-decoration: none;
	font-size: 12pt;
	display: block;
	transition: 0.15s;
	color: white;
}

.topMenu a:hover, .topMenu button:hover {
	background-color: #3D4045;
	color: #CFB991;
}

.credTitle {
	font-size: 13pt;
	text-decoration: underline;
}

.credList {
	margin: 0;
	padding: 0 0 1em 0;
	font-size: 10pt;
	list-style-type: none;
}

.maplibregl-popup-content {
	background-color: #000;
	border-radius: 0;
	box-shadow: 2.5px 2.5px 2.5px #00000077;
	color: white;
	border-top: 2px solid #DFB991;
}

.maplibregl-popup-tip {
	border-top-color: #000;
}

.maplibregl-popup-close-button {
	color: white;
}

button svg {
	width: 21px;
	height: 21px;
	float: right;
	fill: currentcolor;
}