html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #E8F4F7;
	font-family: Arial;
}

#map {
	position: absolute;
	top: 66px;
	bottom: 0;
	left: 0;
	width: 100%;
}

#top {
	width: 100%;
	height: 64px;
	border-top: 2px solid #CFB991;
	background-color: #000;
	color: white;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	position: fixed;
	align-items: center;
	flex-flow: row nowrap;
	flex: 1 1 auto;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: -5px 2.5px 2.5px #00000077;
}

.custom-marker {
	width: 11px;
	height: 11px;
	background-color: white;
	border: 7px solid #757575;
	border-radius: 50%;
	box-shadow: 0 0 8px #000000BB;
	transition: background-color 0.25s, border-color 0.25s, box-shadow 0.25s;
}

.BAD {
	background-color: #FFFFFF55 !important;
	border-color: #75757555 !important;
	box-shadow: 0 0 4px #00000055 !important;
}

.purdue-logo {
	background: url(https://www.purdue.edu/purdue/images/PU-H.svg) no-repeat;
	background-size: contain;
	display: block;
	height: 35%;
	width: 100%;
	max-width: 125px;
	margin: auto 15px auto 15px;
	overflow: hidden;
	text-indent: -9999px;
}

.menuBtn {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.btnBar {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 18px;
	height: 2px;
	background-color: #fff;
	transform: translate(-50%, -50%);
	transition: background 0s 0.1s;
}

.btnBar::before, .btnBar::after {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	content: "";
	transition-delay: 0.1s, 0s;
	transition-duration: 0.1s, 0.1s;
}

.btnBar::before {
	top: -5px;
	transition-property: top, transform;
}

.btnBar::after {
	bottom: -5px;
	transition-property: bottom, transform;
}

.menuBtnT .btnBar {
	background: none;
}

.menuBtnT .btnBar::before, .menuBtnT .btnBar::after {
	transition-delay: 0s, 0.1s;
}

.menuBtnT .btnBar::before {
	top: 0;
	transform: rotate(45deg);
}

.menuBtnT .btnBar::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.leftMenu {
	height: calc(100% - 74px);
	width: 0;
	position: fixed;
	z-index: 1;
	top: 66px;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: #555960;
	overflow-x: hidden;
	padding-top: 8px;
	transition: 0.2s;
	color: white;
	white-space: nowrap;
	box-shadow: 2.5px 0 2.5px #00000077;
}

.leftMenu a {
	text-decoration: none;
}

.leftMenuFooter {
	width: 100%;
	margin-top: auto;
	background-color: black;
	border-top: 2px solid #CFB991;
	color: #CCC;
}

.leftMenu button {
	background-color: inherit;
	border: 0;
	border-radius: 0;
	width: 100%;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 12pt;
	transition: 0.15s;
	color: white;
	display: flex;
	align-items: center;
}

.leftMenu button svg {
	fill: currentcolor;
	display: inline-block;
	width: 28px;
	height: 28px;
	padding-right: 24px;
}

.leftMenu button:hover {
	background-color: #3D4045;
	color: #CFB991;
}

.leftMenu button:active {
	background-color: #726E60;
}

.credTitle {
	color: #EEE;
	text-align: center;
	font-size: 12pt;
	text-decoration: underline;
	margin: 7px auto;
}

.credList {
	margin-bottom: 1em;
	font-size: 9pt;
	list-style-type: square;
}

.maplibregl-popup-content {
	background-color: #000;
	border-radius: 0;
	box-shadow: 2.5px 2.5px 2.5px #00000077;
	color: white;
	border-top: 2px solid #DFB991;
}

.maplibregl-popup-anchor-top .maplibregl-popup-tip {border-bottom-color:#DFB991}
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {border-top-color:#000}
.maplibregl-popup-anchor-left .maplibregl-popup-tip {border-right-color:#000}
.maplibregl-popup-anchor-right .maplibregl-popup-tip {border-left-color:#000}
.maplibregl-popup-anchor-top-left .maplibregl-popup-tip {border-bottom-color:#DFB991}
.maplibregl-popup-anchor-top-right .maplibregl-popup-tip {border-bottom-color:#DFB991}
.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip {border-top-color:#000}
.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {border-top-color:#000}

.maplibregl-popup-close-button {
	color: white;
	font-size: 15pt;
}

.prefsBox {
	height: 0;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #6F727B;
	overflow-y: hidden;
	transition: 0.2s;
	white-space: nowrap;
	text-align: center;
	border-bottom: 1px solid #555960;
}

.prefsBox input[type="range"] {
	-webkit-appearance: none;
	background-color: #DDD;
	width: 85%;
	height: 25px;
	border-radius: 6.25px;
	margin: 0 auto;
	cursor: pointer;
	overflow: hidden;
}

.prefsBox input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #FFF;
	width: 25px;
	height: 25px;
	border-radius: 6.25px;
	border: 2.5px solid #3D4045;
	box-shadow: -112.5px 0 0 100px #CFB991;
}

.prefsButts {
	width: 85%;
	display: flex;
	gap: 10px;
	justify-content: center;
	margin: 10px auto;
}

.prefsButts button {
	background-color: #CFB991;
	border: 2.5px solid #3D4045;
	border-radius: 5px;
	text-align: center;
	padding: 5px 8px;
	font-size: 12pt;
	display: block;
	color: white;
	text-shadow: -1px 0.5px 1px #000000;
}

.prefsButts button:hover {
	background-color: #3D4045;
}

.prefsInd {
	font-size: 10pt;
	padding-bottom: 2px;
	border-bottom: 2px dashed #CFB991;
	display: flex;
	justify-content: center;
	gap: 0.69em;
	width: 85%;
	margin: 5px auto;
}
