:root {
	/* Main Colors */
	--bgLight: #bdcfdb;/*#D6D6E8;*/
	--bgMain: #222c3e;/*#2E2545;*/
	--mainAccent: #da0a29;/*#0bb39f;#FD7B38;*/
	
	/* Light Colors */
	--blue: #668CD9;
	--red: #D96666;
	--pink: #E67399;
	--purple: #B373B3;
	--drkPur: #8C66D9;
	--stlBlu: #668CB3;
	--ltBlu: #59BFB3;
	--teal: #65AD89;
	--green: #4CB052;
	--ltGrn: #8CBF40;
	--yelGrn: #BFBF4D;
	--yellow: #E0C240;
	--orange: #F2A640;
	--redOrn: #E6804D;
	--ltBrwn: #BE9494;
	--ltPur: #A992A9;
	--gray: #8997A5;
	--bluGry: #94A2BE;
	--ltTeal: #85AAA5;
	--yelGry: #A7A77D;
	--brown: #C4A883;
	
	/* Dark Versions */
	--dBlue: #2952A3;
	--dRed: #A32929;
	--dPink: #B1365F;
	--dPurple: #7A367A;
	--dDrkPur: #5229A3;
	--dStlBlu: #29527A;
	--dLtBlu: #1B887A;
	--dTeal: #28754E;
	--dGreen: #0D7813;
	--dLtGrn: #528800;
	--dYelGrn: #88880E;
	--dYellow: #AB8B00;
	--dOrange: #BE6D00;
	--dRedOrn: #B1440E;
	--dLtBrwn: #865A5A;
	--dLtPur: #705770;
	--dGray: #4E5D6C;
	--dBluGry: #5A6986;
	--dLtTeal: #4A716C;
	--dYelGry: #6E6E41;
	--dBrown: #8D6F47;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bgLight);
	color: #FFF;
	font-family: "Rubik", sans-serif;
	font-weight: normal; /* 300 to 900 */
	font-style: normal;
	font-size: 11pt;
}

button {
	font-family: "Rubik", sans-serif;
	transition: box-shadow 0.15s;
}

button:hover {
	box-shadow: inset 0 0 0 100px #00000033;
}

button:active {
	box-shadow: inset 0 0 0 100px #00000077;
}

main {
	margin: 15px 15px 0 15px;
	padding: 25px;
	background: var(--bgMain);
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	box-shadow: 0 2.5px 2.5px #00000077;
}

main header {
	display: flex;
	align-items: flex-start;
}

main header h2 {
	display: inline-block;
	margin: 0 0 35px 0;
}

main header button {
	background: var(--mainAccent);
	color: #FFF;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 0;
	border-radius: 50%;
	padding: 5px;
}

main header button div {
	position: relative;
	top: -2px;
}

.weekdays {
	margin: 0 10px 10px 10px;
	padding: 0;
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(7, 1fr);
}

.weekdays li {
	list-style-type: none;
	display: grid;
	width: 35px;
	font-weight: bold;
	text-align: center;
}

.days {
	margin: 0;
	padding: 0;
	display: grid;
	row-gap: 5px;
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
	text-align: center;
}

.days li {
	list-style-type: none;
	display: grid;
	width: 35px;
	height: 35px;
	text-align: center;
	font-size: 12px;
	align-content: center;
	gap: 3px;
	user-select: none;
	-webkit-user-select: none;
}

.days .other {
	opacity: 0.4;
}

.days .active {
	font-weight: bold;
	border-radius: 50%;
	background: var(--mainAccent);
}

.num {
	position: relative;
	top: 9px;
}

.dotHolder {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 1.5px;
	height: 5px;
	bottom: 0;
	margin-top: 10px;
}

.dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

.block {
	margin-inline: 15px;
	width: calc(100% - 30px);
	height: 15px;
	background: var(--bgMain);
	position: absolute;
	z-index: -1;
	box-shadow: 0 2.5px 2.5px #00000077;
}

footer {
	color: #000;
	background-color: #FFF;
	border-radius: 35px;
	padding: 1px 20px 20px 20px;
	box-shadow: 0 2.5px 2.5px #00000077;
}

footer h2 span {
	margin-left: 0.5em;
	font-weight: normal;
	font-size: 0.75em;
}

footer abbr {
	text-decoration: none;
}

.item {
	text-decoration: none;
	border-radius: 8px;
	margin-bottom: 8px;
	margin-right: 8px;
	color: #000;
	display: flex;
	cursor: pointer;
	transition: background 0.2s;
}

.item:hover {
	background: #EEE;
}

.item:active {
	color: #FFF;
}

.item .icon {
	display: flex;
	align-items: center;
	background-color: #0D7813;
	border-radius: 8px;
	padding: 8px;
	fill: #FFF;
}

.NUM {
	font-size:650pt;
	font-family:Arial;
	font-weight:bold;
}

.item .content {
	padding: 8px;
	max-width: calc(100% - 80px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item .content p, .item .content em {
	display: block;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item .content em, .item .content p {
	font-size: 0.85em;
}

.schedule {
	position: relative;
	top: -15px;
	margin: 0 15px;
	padding: 25px;
	background: var(--bgMain);
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	box-shadow: 0 2.5px 2.5px #00000077;
}

.schedule header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.schedule header h2 {
	display: inline-block;
	margin: 0 0 20px 0;
}

.schedule header button {
	background: var(--mainAccent);
	border: 0;
	color: #FFF;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 12.5px;
}

.schedGrid {
	grid-template-columns: repeat(5, 1fr);
	border-left: 2px solid #ffffff66;
	border-bottom: 1px solid #ffffff33;
	gap: 0;
}

.schedGrid li {
	border-top: 1px solid #ffffff33;
	border-right: 2px solid #ffffff66;
	width: 100%;
	height: 24px;
}

.sItem {
	position: absolute;
	width: calc(0.19 * calc(100% - 50px));
	text-align: center;
	padding: 3px 0;
	font-size: 12px;
	border-radius: 5px;
}

@media screen and (max-width: 420px) {
	
}

.green {
	box-shadow: inset 0 0 0 2px #ff4242;
}

.green:active {
	background: #ff4242;
}

.orange {
	box-shadow: inset 0 0 0 2px #00e613;
}

.orange:active {
	background: #00e613;
}

.blue {
	box-shadow: inset 0 0 0 2px #3d8eff;
}

.blue:active {
	background: #3d8eff;
}

.brown {
	box-shadow: inset 0 0 0 2px #C4A883;
}

.brown:active {
	background: #C4A883;
}

.pink {
	box-shadow: inset 0 0 0 2px #E67399;
}

.pink:active {
	background: #E67399;
}

.bluGry {
	box-shadow: inset 0 0 0 2px var(--bluGry);
}

.bluGry:active {
	background: var(--bluGry);
}
